html{
    height: 100%;
    width: 100%;
}


/*header */
#header{
    height:45px;
    margin:0;padding:0;text-align:left;
    background:#1A446C;color:D4E6f4;

}
#header h1{
    margin:0;
    padding:1em;  

}
body{
    padding: 0;
    margin: 0;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3B5998;
    width:100%;
    position: fixed;
    z-index: 999;
}
header li {
    float: left;
}


header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

header li.dropdown {
    display: inline-block;
}
header li.login{
    display: inline-block;
    float: right;
}
header li.logout{
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: gray}

.dropdown:hover .dropdown-content {
    display: block;
}

/*main*/
#main{
    padding-left:220px;
    min-height: 1080px;
    text-align: left;
    background-color: #f3f3f3;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: calc(100vh 85px);
    position: fixed;
    left: 0;
    top: 45px;
    background: white;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/*footer*/
#footer{
    height:4px;
    clear:both;
    margin:0;
    padding:1em;
    text-align:center;
    background:#1A446C;
    color:#D4E6f4;
    z-index: 99;
}

/*timer*/
#timer_question{
    width: 55px;
    height: 50px;
    margin: 30px;
    color: #FFF;
    padding-left: 8px;
    position: fixed;
    font-family: fantasy;
    bottom: 0;
    right: 0;
    background-color: red;
}
/*timer*/
#submission_div{
    margin: 30px;
    color: #FFF;
    padding-left: 8px;
    position: fixed;
    font-family: fantasy;
    bottom: 0;
    left: 0;
}
#submit_button{
    padding: 10px 15px;
    background-color: green;
    color: #FFF;
}


.blog-post{
    width: 900px;
    padding-top: 15px;
    padding-left: 15px;
}

.blog-img {
    float: left;
    width: 220px;
    height: 220px;
    float: left;
    overflow: hidden;
}

.blog-imgfull{
    float: left;
    width: full;
    height: 420px;
    float: left;
    overflow: hidden;
}

.blog-description {
    width: 665px;
    float: left;
    margin-left: 15px;
}
.picture_blog-description {
    width: full;
    float: left;
    margin-left: 15px;
}

.profile-picture{
    float: left;
    width: 220px;
    height: 220px;
    margin:20px 350px;
    overflow: hidden;
}
.profile-description {
   
     float: left;
     width: 420px;
     margin:20px 350px;
    
}
.rank_description {
   
     float: right;
     width: 820px;
     padding:100px 133px;
    
}
.registration_description {
   
     float: left;
     width: 520px;
     padding:100px 133px;
}
.login_description {
   
     float: left;
     width: 420px;
      padding:100px 133px;
}



